@using iskuriyer.Entity
@using Iskuriyer.Models
@model RegisterModel
@{
    /**/
    //Kursiyer kursiyer = new Kursiyer();
    //Kursiyer_Iletisim kursiyer_Iletisim = new Kursiyer_Iletisim();
    //Sirket sirket = new Sirket();

    ViewBag.Title = "Iskuriyer - Sizinde bir işiniz olsun";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="home-pro">

    <!-- PRO BANNER HEAD -->
    <div class="banr-head">
        <div class="container">
            <div class="row">

                <!-- CONTENT -->
                <div class="col-sm-7" >
                    <div class="text-area">
                        <div class="position-center-center col-md-10" style="background-color:black; opacity:0.6">
                            <h1 style="color:white"> Beklediğiniz Sosyal İş Platformu Burada</h1>
                            <h6 style="color:white">İşverenlerle kolaylıkla iletişime geçebilir yeteneklerinizi kanıtlayabilirsiniz.</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- SERVICES -->
    <section class="services">

        <!-- SERVICES ROW -->
        <ul class="row">

            <!-- SECTION -->
            <li class="col-md-4">
                <div class="ser-inn">
                    <i class="fa fa-globe"></i>
                    <h4>
                        Meslektaşlarınız ile bağlantınızı koruyun!
                    </h4>
                    <i class="fa fa-globe big"></i>
                    <p>Search yapıp, ornek mak mühleri görebilir ve tanıyosa bağlantı kurar(seçmeli).</p>
                </div>
            </li>

            <!-- SECTION -->
            <li class="col-md-4">
                <div class="ser-inn">
                    <i class="fa fa-book"></i>
                    <h4>
                        Çalıştığınız sektördeki en güncel gelişmeleri edinin!
                    </h4>
                    <i class="fa fa-book big"></i>
                    <p>Buraya kullanıcılar güncel makale gibi bişey girebilir, sitedeki etkinliği ile puan toplayabilir vs.(tercihe bağlı)</p>
                </div>
            </li>

            <!-- SECTION  -->
            <li class="col-md-4">
                <div class="ser-inn">
                    <i class="fa fa-picture-o"></i>
                    <h4>
                        Kariyerinizde şuanda olmak istediğiniz konumda mısınız?
                    </h4>
                    <i class="fa fa-picture-o big"></i>
                    <p>Yorumlar gelebeilir database</p>
                </div>
            </li>
        </ul>
    </section>

    <!-- TESTIMONIALS -->
    <section class="clients-says">
        <div class="container">
            <h3 class="section-title">Değerli site üyelerimizin yorumları nelerdir? </h3>
            <div class="testi">
                <div class="texti-slide">
                    <!-- SLide -->
                    <div class="clints-text">
                        <div class="text-in">
                            <p>iş veren ya da iş arayan yorumları database den gelecek.</p>
                        </div>
                        <div class="avatar">
                            <div class="media-left"> <a href="#."> <img src="images/clients-avatar-1.jpg" alt=""> </a> </div>
                            <div class="media-body">
                                <h6>Kişi Adı</h6>
                                <span> Şirketse adı, kişiyse maili</span>
                            </div>
                        </div>
                    </div>

                    <!-- SLide -->
                    <div class="clints-text">
                        <div class="text-in">
                            <p>iş veren ya da iş arayan yorumları database den gelecek</p>
                        </div>
                        <div class="avatar">
                            <div class="media-left"> <a href="#."> <img src="images/clients-avatar-1.jpg" alt=""> </a> </div>
                            <div class="media-body">
                                <h6>Kişi Ad</h6>
                                <span>Şirketse adı, kişiyse maili</span>
                            </div>
                        </div>
                    </div>

                    <!-- SLide -->
                    <div class="clints-text">
                        <div class="text-in">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue.</p>
                        </div>
                        <div class="avatar">
                            <div class="media-left"> <a href="#."> <img src="images/clients-avatar-1.jpg" alt=""> </a> </div>
                            <div class="media-body">
                                <h6>John Kevin Mara</h6>
                                <span>smashingmagazine.com</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>