
@{
    ViewBag.Title = "Şirket Profili";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="compny-profile">
    <!-- SUB Banner -->
    <div class="profile-bnr">
        <div class="container">

            <!-- User Iinfo -->
            <div class="user-info">
                <h1>Şirket Adı <a data-toggle="tooltip" data-placement="top" title="Doğrulanmış Üye"><img src="~/images/icon-ver.png" alt=""></a> </h1>
                <h6>Sektör</h6>
                <p>
                    Adres
                    (<a href="#.">Harita</a> / <a href="#.">Cadde</a>)
                </p>

                <!-- Social Icon -->
                <div class="social-links"> <a href="#."><i class="fa fa-facebook"></i></a> <a href="#."><i class="fa fa-twitter"></i></a> <a href="#."><i class="fa fa-google"></i></a> <a href="#."><i class="fa fa-linkedin"></i></a> </div>

                <!-- Stars -->
                <ul class="row">
                    <li class="col-sm-6">
                        <div class="stars"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <span>(06)</span> </div>
                    </li>
                    <li class="col-sm-6">
                        <p><i class="fa fa-bookmark-o"></i> 28 Kez Favorilerde</p>
                    </li>
                </ul>

                <!-- Followers -->
                <div class="followr">
                    <ul class="row">
                        <li class="col-sm-6">
                            <p>Takipçiler <span>(31)</span></p>
                        </li>
                        <li class="col-sm-6">
                            <p>Takip Edilen <span>(38)</span></p>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Top Riht Button -->
            <div class="right-top-bnr">
                <div class="connect">
                    <a href="#." data-toggle="modal" data-target="#myModal"><i class="fa fa-user-plus"></i> Bağlan</a> <a href="#."><i class="fa fa-share-alt"></i> Paylaş</a>
                    <div class="bt-ns"> <a href="#."><i class="fa fa-bookmark-o"></i> </a> <a href="#."><i class="fa fa-envelope-o"></i> </a> <a href="#."><i class="fa fa-exclamation"></i> </a> </div>
                </div>
            </div>
        </div>

        <!-- Modal POPUP -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="container">
                        <h6><a class="close" href="#." data-dismiss="modal" aria-label="Kapat"><span aria-hidden="true">&times;</span></a> Mesaj Yolla</h6>

                        <!-- Forms -->
                        <form action="#">
                            <ul class="row">
                                <li class="col-xs-6">
                                    <input type="text" placeholder="Adı ">
                                </li>
                                <li class="col-xs-6">
                                    <input type="text" placeholder="Soyadı">
                                </li>
                                <li class="col-xs-6">
                                    <input type="text" placeholder="Ülke">
                                </li>
                                <li class="col-xs-6">
                                    <input type="text" placeholder="Email Adresi">
                                </li>
                                <li class="col-xs-12">
                                    <textarea placeholder="Mesajınız"></textarea>
                                </li>
                                <li class="col-xs-12">
                                    <button class="btn btn-primary">Mesaj Yolla</button>
                                </li>
                            </ul>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Profile Company Content -->
    <div class="profile-company-content main-user" data-bg-color="f5f5f5">
        <div class="container">
            <div class="row">

                <!-- Nav Tabs -->
                <div class="col-md-12 ">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#profile">Profil</a></li>
                        <li><a data-toggle="tab" href="#jobs">İlanlar</a></li>
                        <li><a data-toggle="tab" href="#contact">İletişim</a></li>
                    </ul>
                </div>

                <!-- SIDE BAR -->
                <div class="col-md-4">

                    <!-- Company Information -->
                    <div class="sidebar">
                        <h5 class="main-title">Şirket Bilgisi</h5>
                        <div class="sidebar-thumbnail"> <img src="~/images/company-thumb.jpg" alt=""> </div>
                        <div class="sidebar-information">
                            <ul class="single-category">
                                <li class="row">
                                    <h6 class="title col-xs-6">Sektör</h6>
                                    <span class="subtitle col-xs-6">Sektör Adı</span>
                                </li>
                                <li class="row">
                                    <h6 class="title col-xs-6">Lokasyon</h6>
                                    <span class="subtitle col-xs-6">Şehir, Ülke</span>
                                </li>
                                <li class="row">
                                    <h6 class="title col-xs-6">Çalışan Sayısı</h6>
                                    <span class="subtitle col-xs-6">11,245</span>
                                </li>
                                <li class="row">
                                    <h6 class="title col-xs-6">Tüzel Kişilik</h6>
                                    <span class="subtitle col-xs-6">Gesselschaft</span>
                                </li>
                                <li class="row">
                                    <h6 class="title col-xs-6">Şirket Kaydı</h6>
                                    <span class="subtitle col-xs-6">HSD7589</span>
                                </li>
                                <li class="row">
                                    <h6 class="title col-xs-6">Mesai Saatleri</h6>
                                    <span class="subtitle col-xs-6">10:00 AM - 5:00 PM</span>
                                </li>
                                <li class="row">
                                    <h6 class="title col-xs-6">İletişim Bilgileri</h6>
                                    <div class="col-xs-6"> <span class="subtitle">*****************<i class="fa fa-exclamation-circle"></i></span> <span class="subtitle">***************** <i class="fa fa-exclamation-circle"></i></span> <a href="#.">mail@adresi.com</a> <a href="#.">site.com</a> </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!-- Company Rating -->
                    <div class="sidebar">
                        <h5 class="main-title">Şirket Puanlaması</h5>
                        <div class="sidebar-information">
                            <ul class="single-category com-rate">
                                <li class="row">
                                    <h6 class="title col-xs-6">Uzmanlık:</h6>
                                    <span class="col-xs-6"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i></span>
                                </li>
                                <li class="row">
                                    <h6 class="title col-xs-6">Bilgi:</h6>
                                    <span class="col-xs-6"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-half-o"></i> <i class="fa fa-star-o"></i></span>
                                </li>
                                <li class="row">
                                    <h6 class="title col-xs-6">Kalite:</h6>
                                    <span class="col-xs-6"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i></span>
                                </li>
                                <li class="row">
                                    <h6 class="title col-xs-6">Fiyat:</h6>
                                    <span class="col-xs-6"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i></span>
                                </li>
                                <li class="row">
                                    <h6 class="title col-xs-6">Servisler:</h6>
                                    <span class="col-xs-6"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i></span>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!-- Company Rating -->
                    <div class="sidebar">
                        <h5 class="main-title">İletişim</h5>
                        <div class="sidebar-information form-side">
                            <form action="#">
                                <input type="text" placeholder="Adınız ve Soyadınız">
                                <input type="text" placeholder="E-mail adresi">
                                <textarea placeholder="Mesajınız"></textarea>
                                <button class="btn btn-primary">Mesaj Yolla</button>
                            </form>
                        </div>
                    </div>
                </div>

                <!-- Tab Content -->
                <div class="col-md-8">
                    <div class="tab-content">

                        <!-- PROFILE -->
                        <div id="profile" class="tab-pane fade in active">
                            <div class="profile-main">
                                <h3>Şirket Hakkında</h3>
                                <div class="profile-in">
                                    <p>
                                        Şirket Bilgisi
                                    </p>

                                </div>
                            </div>

                            <!-- Services -->
                            <div class="profile-main">
                                <h3>Servisler</h3>
                                <div class="profile-in profile-serv">
                                    <h6>Sağladığımız servisler.</h6>
                                    <div class="media">
                                        <div class="media-left">
                                            <div class="icon"> <img src="~/images/icon-prifile-1.png" alt=""> </div>
                                        </div>
                                        <div class="media-body">
                                            <h6>Servis Adı</h6>
                                            <p>
                                                Servis Açıklama
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Jobs -->
                        <div id="jobs" class="tab-pane fade">
                            <div class="header-listing">
                                <h6>Listele</h6>
                                <div class="custom-select-box">
                                    <select name="order" class="custom-select">
                                        <option value="0">En Popüler</option>
                                        <option value="1">En Son Eklenen</option>
                                        <option value="2">En İyi Puan</option>
                                    </select>
                                </div>
                                <ul class="listing-views">
                                    <li class="active"><a href="#"><i class="fa fa-list"></i></a></li>
                                    <li><a href="#"><i class="fa fa-th"></i></a></li>
                                    <li><a href="#"><i class="fa fa-th-large"></i></a></li>
                                </ul>
                            </div>
                            <div class="listing listing-1">
                                <div class="listing-section">
                                    <div class="listing-ver-3">
                                        <div class="listing-heading">
                                            <h5>Şirket Başlık</h5>
                                            <ul class="bookmark list-inline">
                                                <li><a href="#"><i class="fa fa-bookmark"></i></a></li>
                                                <li><a href="#"><i class="fa fa-eye"></i></a></li>
                                                <li><a href="#"><i class="fa fa-share"></i></a></li>
                                            </ul>
                                        </div>
                                        <div class="listing-inner">
                                            <div class="listing-content">
                                                <h6 class="title-company">Şirket Başlık</h6>
                                                <span class="location"> <i class="fa fa-map-marker"></i> ilçe, Şehir, Ülke </span> <span class="type-work full-time"> Mesai Tipi(tam veya Yarım) </span>
                                                <p>İlan Açıklama <a href="#">Daha Fazla</a></p>
                                                <h6 class="title-tags">Yetenekler:</h6>
                                                <ul class="tags list-inline">
                                                    <li><a href="#">Etiket</a></li>
                                                    <li><a href="#">Etiket</a></li>
                                                    <li><a href="#">Etiket</a></li>
                                                    <li><a href="#">Etiket</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="listing-tabs">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-envelope"></i> mail@adresi.com</a></li>
                                                <li><a href="#"><i class="fa fa-phone"></i> Telefon No</a></li>
                                                <li><a href="#"><i class="fa fa-globe"></i> www.sirketsite.com</a></li>
                                                <li class="share-button">
                                                    <a href="#"><i class="fa fa-share"></i> Paylaş</a>
                                                    <div class="contact-share">
                                                        <ul>
                                                            <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                                                            <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
                                                            <li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
                                                            <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="listing-ver-3">
                                        <div class="listing-heading">
                                            <h5>İlan Başlık</h5>
                                            <ul class="bookmark list-inline">
                                                <li><a href="#"><i class="fa fa-bookmark"></i></a></li>
                                                <li><a href="#"><i class="fa fa-eye"></i></a></li>
                                                <li><a href="#"><i class="fa fa-share"></i></a></li>
                                            </ul>
                                        </div>
                                        <div class="listing-inner">
                                            <div class="listing-content">
                                                <h6 class="title-company">Şirket Başlık.</h6>
                                                <span class="location"> <i class="fa fa-map-marker"></i> İlçe, Şehir, Ülke </span> <span class="type-work full-time"> (Mesai Tipi) </span>
                                                <p>İlan Kısa Açıklama <a href="#.html">Daha Fazla</a></p>
                                                <h6 class="title-tags">Gerekli Yetenekler:</h6>
                                                <ul class="tags list-inline">
                                                    <li><a href="#">Javascript</a></li>
                                                    <li><a href="#">Wordpress</a></li>
                                                    <li><a href="#">Presta</a></li>
                                                    <li><a href="#">Sass</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="listing-tabs">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-envelope"></i> mail@adresi.com</a></li>
                                                <li><a href="#"><i class="fa fa-phone"></i> telefon no</a></li>
                                                <li><a href="#"><i class="fa fa-globe"></i> www.sirketsitecom</a></li>
                                                <li class="share-button">
                                                    <a href="#"><i class="fa fa-share"></i> Paylaş</a>
                                                    <div class="contact-share">
                                                        <ul>
                                                            <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                                                            <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
                                                            <li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
                                                            <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Contact -->
                        <div id="contact" class="tab-pane fade">
                            <div class="profile-main">
                                <h3>Şirket ile İletişime Geçin.</h3>
                                <div class="profile-in">
                                    <p>İşverenle iletişime geçmek için bu formu kullanabilirsiniz.</p>
                                    <form action="#">
                                        <input type="text" placeholder="Adı Soyadı">
                                        <input type="text" placeholder="Email Adresi">
                                        <input type="text" placeholder="Telefon Numarası">
                                        <textarea placeholder="Mesajınız"></textarea>
                                        <button class="btn btn-primary">Mesajı Yolla</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
