
@{
    ViewBag.Title = "GetEmployee";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}


<!-- SUB Banner -->
<div class="profile-bnr sub-bnr user-profile-bnr">
    <div class="position-center-center">
        <div class="container">
            <h2>Profesyonel Ara</h2>
        </div>
    </div>
</div>

<!-- search -->
<div class="search-pro">
    <div class="map-search">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="map-search-fields">
                        <div class="field">
                            <input type="text" placeholder="Anahtar Kelime">
                        </div>
                        <div class="field">
                            <input type="text" placeholder="Lokasyon">
                        </div>
                        <div class="field custom-select-box">
                            <input type="text" placeholder="Uzmanlık">
                        </div>
                    </div>
                    <div class="search-button">
                        <button>Profesyonel Ara</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Members -->
<section class="pro-mem">
    <div class="container pb30">
        <h3>Profesyoneller</h3>
        <div class="row">
            <div class="col-sm-3">
                <div class="uou-block-6a">
                    <img src="~/images/member-1.png" alt="" />
                    
                    @*<h6>Ad Soyad <span>Unvan</span></h6>*@
                    <li><a href="/Home/Index"><h6>Ad Soyad </h6><span>Unvan</span></a></li>
                    <p><i class="fa fa-map-marker"></i> Şehir, Ülke</p>
                </div>
                <!-- end .uou-block-6a -->
            </div>
        </div>
    </div>
</section>